body {
	background-color:#a9a9a9;
	color: #000000;
	font-family:Times New Roman, sans-serif;
}

body>header, body>footer {
	text-align:center;
}

h1 {
	color:#fafad2;
	font-size:48px;
}

nav {
	font-size:24px;
}

nav li{
	list-style:none;	
}

li a {
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;
}

li a:hover {
	color:#ffffff;
	font-weight:bold;
}

li a:visited {
	color:#ffffff;
	font-weight:bold;
}

li a:active {
	color:#ffffff;
	font-weight:bold;
}

.current {
	background-color: rgba(255,255,255,0.5)
}

li:last-child {
	text-decoration:underline;
	color: #ffffff;
}

article h1 {
	text-align:left;
	font-size:28px;
}

article>p {
	font-weight:bold;
	font-size:14px;
}

footer>p {
	font-size:12px;
}

p>a {
	text-decoration:none;
	color:#000000;
}
