body {
	background-color: #ffffff;
	color:#000000;
	font-family: Corbel, sans-serif;
}

table {
	border-collapse: collapse;
	border:1px groove #8e8e8e;
}

th {
	background-color: #66cc00;
	color:#ffffff;
	font-size:14px;
	text-align:left;
	padding:5px;
	border:1px groove #8e8e8e;
	border-bottom:2px groove #8e8e8e;
}

tr:nth-child(even) {
	background-color:#ededed;
}
/* IE6 - IE8 */
tr.even{
    background-color:#ededed;
}

td{
	border-right:1px groove #8e8e8e;
	padding:5px 50px 5px 5px;
	font-size:14px;
} 

img {
	vertical-align: middle;
}